body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1f1f1f;
}

.container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 5px;
}

h1, h2, p {
    color: #ffffff;
}

a.nav-link {
    color: #ffffff;
}

a.nav-link:hover {
    color: #cccccc;
}

.navbar a.nav-link:hover {
    background-color: #333333;
    color: #ffcc00;
}